[project]
	description = Automatically exported from code.google.com/p/dapper-dot-net
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anup Sharma (anupcsharma)
[access "refs/for/refs/*"]
	read = group user/Anup Sharma (anupcsharma)
	push = group user/Anup Sharma (anupcsharma)
	label-Code-Review = -2..+2 group user/Anup Sharma (anupcsharma)
	label-Verified = -1..+1 group user/Anup Sharma (anupcsharma)
	rebase = group user/Anup Sharma (anupcsharma)
	removeReviewer = group user/Anup Sharma (anupcsharma)
	submit = group user/Anup Sharma (anupcsharma)
[access "refs/heads/*"]
	read = group user/Anup Sharma (anupcsharma)
	create = group user/Anup Sharma (anupcsharma)
	push = +force group user/Anup Sharma (anupcsharma)
	pushMerge = group user/Anup Sharma (anupcsharma)
[access "refs/tags/*"]
	push = group user/Anup Sharma (anupcsharma)
	push = +force group user/Anup Sharma (anupcsharma)
